@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;  
}
body{
    background-color:#d1d1d1 ;
    background: url(./pag.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
main{
    padding: 10px 20%;
}
header{
    padding: 20px 40px;
}
.wrapper{
    
    width: 100%;
    padding: 10px 40px;
}
.select-installments, .value-input{
    color: #ffff;
    background-color: #000000;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.inputs{
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    border: solid 4px rgb(255, 255, 255) ;
    padding: 40px;
    backdrop-filter: blur(10px);
    gap: 40px;
    font-size: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value-input::placeholder,
.qtd-input::placeholder{
    color: #ffff;
}

h1{
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.result{
    width: 100%;
    padding: 20px;
}

.calc-btn{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 55px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    color: #ffff;
    background-color: blue;
    font-size: 36px;
    padding: 2px;
    cursor: pointer;
}


.value-input::-webkit-outer-spin-button,
.value-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.final-result{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #ffffff;
    display: block;
    margin: 40px auto;
    text-align: center;
}
section{
    display: block;
    margin: 0 auto;
    padding: 10%;
}
.description{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
}

@media screen and (max-width:890px){
   h1{
        font-size: 50px;
    }

    .inputs{
        width: 100%;
    }
    .calc-btn{
        width: 80%;
    }

    .select-installments, .value-input{
        width: 100%;
        font-size: 18px;
    }
}

@media screen and (max-width:890px){
    .description{
        font-size: 20px;
        font-weight: 700;
    }

    main{
        padding: 10px 2%;
    }

    .inputs{
        padding: 20px;
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size: 36px;
    }
    .calc-btn{
        height: 40px;
        font-size: 18px;
    }
    .description{
        font-size: 16px;
        font-weight: 700;
    }

}